<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./include/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>

  <body>
    <%- include('./include/headers') %> <%- include('./include/side-drawer') %>
    <main>
      <h1>Recommended restaurants</h1>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <% if (numberOfRestaurant === 0) { %>
      <p>Unfortuantly, We have no restaurant yet start recommending</p>
      <% } else { %>
      <p>We Found <%= numberOfRestaurant %> restaurants.</p>
      <form action="/restaurants" method="GET">
        <input type="hidden" value="<%= nextOrder %>" name="order"/>
        <button class="btn">Change Order</button>
      </form>

      <ul id="restaurants-list">
        <% for (const restaurant of restaurants) { %>
        <li class="restaurant-item">
          <%- include('include/restaurants/restaurant-item', {restaurant :
          restaurant}) %>
        </li>
        <% } } %>
      </ul>
    </main>
  </body>
</html>
